.mission-helper-list {
  max-width: 1440px;
  padding: 0 20px;
  margin: auto;

  .breadcrumb-wrapper {
    margin: 10px 0 20px 0;
    .breadcrumb {
      margin: 0;
      color: $text-main;
      & > * {
        color: $text-main;
      }
      .active {
        color: $text-mark;
      }
    }
  }
  .filters {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    justify-content: space-around;
  }

  .famous-helper {
    a,
    a:hover {
      border: none;
    }
    display: flex;
    flex-direction: column;
    width: calc(100% - 65%);
    min-width: 355px;
    background-color: $content-bg;
    padding: 15px;

    &-title {
      font-weight: bold;
      margin-bottom: 2rem;
    }
    &-card {
      $img-size: 120px;
      margin-bottom: 3rem;
      min-width: 325px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:hover {
        .img-wrapper img {
          transform: scale(1.1);
        }
      }
      .img-wrapper {
        width: $img-size;
        height: $img-size;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 0px 8px rgba(167, 167, 167, 0.49);
        img {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }
      }
      .helper-content {
        width: calc(100% - $img-size);
        .title {
          font-weight: bold;
        }
        &-info p {
          margin: 0 0 0.5rem 0;
        }
        &-info span {
          color: $price;
        }
        &-info img {
          cursor: pointer;
        }
        .price {
          span {
            color: $price;
            font-weight: 600;
          }
          button {
            padding: 3px 10px;
          }
        }
      }
      .fav-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(138, 138, 138, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 20px;
        cursor: pointer;
        &-fill {
          width: 100%;
          height: 100%;
          font-size: 20px;
          color: $hover;
          padding: 10px;
        }
        &-hollow {
          font-size: 20px;
          color: $text-mark;
        }
      }
    }
    .active-fav-in-fam-card {
      &:hover {
        .fav-icon {
          right: 0px;
        }
      }
      .fav-icon {
        right: -50px;
        transition: all 0.4s ease-in-out;
      }
    }
    &-mobile {
      .slick-slider {
        width: calc(100% - 56px);
        margin: auto;
        .slick-slide {
          min-width: 300px;
        }
        .slick-arrow {
          color: $text-main;
          // background-color: $text-main;
          $arrow-size: 28px;
          width: $arrow-size;
          height: $arrow-size;
        }
        .slick-prev {
          left: -26px;
        }
        .slick-next {
          right: -27px;
        }
      }
    }
  }
  .helper-list {
    width: 65%;
  }
  .single-card {
    a,
    a:hover {
      border: none;
    }
    width: calc((100% - 30px) / 3);
    height: 410px;
    margin: 0 0 20px 10px;
    min-width: 220px;
    background-color: $cos-white;
    padding: 0.6rem;
    box-shadow: 0px 0px 5px rgba(40, 39, 39, 0.1);
    position: relative;
    top: 0;
    transition: all 0.2s ease-in;
    overflow: hidden;
    &:hover {
      top: -5px;
    }
    &-img {
      $img-size: 160px;
      width: $img-size;
      height: $img-size;
      border-radius: 50%;
    }
    &-content {
      width: 100%;
      height: calc(100% - 160px);
      display: flex;
      flex-direction: column;
    }
    &-title {
      font-weight: bold;
      margin: 0.5rem 0;
    }

    &-info {
      p {
        margin: 0.2rem 0;
      }
      .service-items span,
      .service-time span {
        color: $price;
      }
    }
    .service-time {
      flex: 1;
    }
    .price {
      margin-top: auto;
      // margin-top: 1rem;
      span {
        color: $price;
        font-weight: 600;
      }
      button {
        padding: 3px 10px;
      }
    }
    .fav-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(138, 138, 138, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10px;
      top: 20px;
      cursor: pointer;
      &-fill {
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: $hover;
        padding: 10px;
      }
      &-hollow {
        font-size: 20px;
        color: $text-mark;
      }
    }
  }
  .active-fav-in-card {
    &:hover {
      .fav-icon {
        top: 20px;
      }
    }
    .fav-icon {
      top: -40px;
      transition: all 0.4s ease-in-out;
    }
  }
  .famous-carousel {
    background-color: $content-bg;
    & > :first-child,
    & > :last-child {
      display: flex;
      align-items: center;
      svg {
        color: $text-main;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.mobile-filter {
  margin: 1.2rem 0;
  // height: 100px;
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-right: 30px;
    }
    & .swiper-slide:last-child {
      margin-right: 10px;
    }
  }
  .swiper-slide {
    width: 130px;
  }
}
@media screen and (max-width: 1200px) {
  .mission-helper-list {
    .helper-list {
      .single-card {
        width: calc((100% - 30px) / 2);
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .mission-helper-list {
    .famous-helper {
      //   padding: 1rem;
      width: 65%;
    }
    .helper-list {
      justify-content: center;
      .single-card {
        width: calc((100% - 30px));
        max-width: 350px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mission-helper-list {
    padding: 0 5px;

    .job-search {
      width: 100%;
      margin-top: 19px;
    }
    .filters {
      margin: 0rem auto;
    }
    .famous-helper {
      width: 100%;
      padding: 15px 0;
      &-title {
        margin-left: 15px;
        margin-bottom: 1rem;
      }
      &-card {
        padding: 0 10px;
        $img-size: 100px;
        margin-bottom: 0.4rem;
        &-img {
          width: $img-size;
          height: $img-size;
        }
      }
    }
    .famous-carousel {
      & > :first-child,
      & > :last-child {
        svg {
          font-size: 22px;
        }
      }
    }
    .helper-list {
      width: 100%;
      justify-content: start;
      margin: 10px auto;
      gap: 10px;

      .single-card {
        width: calc((100% - 20px) / 3);
        // height: 400px;
        margin-bottom: 10px;
        margin-left: 0;
        min-width: 175px;
        padding: 0.5rem;
        $img-size: 120px;
        &-img {
          width: $img-size;
          height: $img-size;
        }
        &-content {
          height: calc(100% - $img-size);
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .mission-helper-list {
    .helper-list {
      .single-card {
        width: calc((100% - 10px) / 2);
        min-width: 175px;
      }
    }
  }
}
