.chatlist {
  height: 70vh;
  .active {
    background-color: $hover !important;
    border: none !important;
  }
  .list {
    .avatar {
      width: 80px;
      height: 80px;
    }
  }
  .img-fluid {
    height: 100%;
  }
}
