@import "@/styles/_variable.scss";

.container{
    //background-color: aqua;
}

.accordion{
    border: none;
}
.sidebar-product{
    margin-top: 20px;
   .sidebar {
    .accordion-button{
        background-color: $content-bg;
        color: $text-main;
        font-size: 1.25rem;
        text-align: center ; 
        border-bottom: 1px dashed $text-mark;
    }
    .button-subcategory{
        background-color:$cos-white;
        color: $text-main;
        font-size: 1.25rem;
        border: none;
        margin-top: 5px;
    }
   }
}

.filter{
    border: 1px solid $content-bg;
    .card-header{
         background-color: $content-bg;
        color: $text-main;
        font-size: 1.25rem;
        text-align: center ; 
        border-bottom: 1px dashed $text-mark;
    }
    .card-body{
        color: $text-main;
        font-size: 1.25rem;
        text-align: center ; 
    }
}









