// 檔案位置: styles/global.scss
// bootstrap變數覆蓋用 (Variable overrides)
$border-radius: 2px;
$border-color: rgba(0, 0, 0, 0.1);
$box-shadow: 0 1px 4px rgb(0, 0, 0, 0.25);
$form-select-focus-border-color: $border-color;
$focus-ring-color: transparent;
$form-select-focus-box-shadow: $box-shadow;
$breadcrumb-divider: quote(">");

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 導入所有 bootstrap 樣式
@import "~bootstrap/scss/bootstrap";
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

// 客製化變數樣式
@import "@/styles/_variable.scss";

// google Noto Sans TC 中文字體
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap";

// 英文字體
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap";

// 定義中文字體用
body {
  font-family: "Poppins", "Noto Sans TC", Helvetica, Arial, "PingFang TC",
    "苹方-繁", "Heiti TC", "黑體-繁", "Microsoft JhengHei", "微軟正黑體",
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue",
    Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $main-bg;
}
a {
  text-decoration: none;
  color: $text-main;
  border-bottom: 4px solid transparent;
  &:hover {
    border-bottom: 4px solid $hover;
  }
}

ul {
  list-style: none;
  padding: 0;
}

// ↓↓↓ components scss styles放下面

// 主要樣式組件(header、footer、商品卡片等等...)
@import "@/styles/components-style/_footer.scss";
@import "@/styles/components-style/_pagination.scss";
@import "@/styles/components-style/_bread-crumb.scss";
@import "@/styles/components-style/_ResponsiveAppBar.scss";
@import "@/styles/components-style/home/_home-product-card.scss";

// 小貓上工
@import "@/styles/components-style/_create-mission.scss";
@import "@/styles/components-style/_helper-detail.scss";
@import "@/styles/components-style/job.scss";
@import "@/styles/components-style/_latest-mission.scss";
@import "@/styles/components-style/_role-selection.scss";
@import "@/styles/_find-mission.scss";
@import "@/styles/components-style/_mission_helper_list.scss";

//小貓商城、購物流程
@import "@/styles/components-style/_product-card.scss";
@import "@/styles/product/_product_cart.scss";
@import "@/styles/product/_product_cart._checkout.scss";

//會員頁面
@import "@/styles/components-style/_list-d.scss";
@import "@/styles/components-style/_list-m.scss";
@import "@/styles/components-style/_list-user-m.scss";
@import "@/styles/components-style/_member-helper.scss";
@import "@/styles/components-style/_member-order-detail.scss";
@import "@/styles/components-style/_member-order.scss";
@import "@/styles/components-style/_sales-record.scss";
@import "@/styles/components-style/_member-order.scss";
@import "@/styles/components-style/_member-order-detail.scss";
@import "@/styles/components-style/_member-purchast.scss";
@import "@/styles/components-style/_member-wishlist.scss";
@import "@/styles/components-style/_member-joblist.scss";
@import "@/styles/components-style/_member-history.scss";

// 文章、首頁
@import "@/styles/components-style/_article-list-card.scss";
@import "@/styles/components-style/_article-catogory.scss";
@import "@/styles/components-style/_article-card.scss";
@import "@/styles/_article.scss";
@import "@/styles/components-style/home/_block-three.scss";
@import "@/styles/components-style/home/_block-six.scss";
