// 檔案位置: styles/global.scss
// bootstrap變數覆蓋用 (Variable overrides)
$border-radius: 2px;
$border-color: rgba(0, 0, 0, 0.1);
$box-shadow: 0 1px 4px rgb(0, 0, 0, 0.25);
$form-select-focus-border-color: $border-color;
$focus-ring-color: transparent;
$form-select-focus-box-shadow: $box-shadow;

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 導入所有 bootstrap 樣式
@import "~bootstrap/scss/bootstrap";
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

// 客製化變數樣式
@import "@/styles/_variable.scss";

// google Noto Sans TC 中文字體
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap";

// 英文字體
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap";

// 定義中文字體用
body {
  font-family: "Poppins", "Noto Sans TC", Helvetica, Arial, "PingFang TC",
    "苹方-繁", "Heiti TC", "黑體-繁", "Microsoft JhengHei", "微軟正黑體",
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue",
    Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $main-bg;
}
a {
  text-decoration: none;
  color: $text-main;
  border-bottom: 4px solid transparent;
  &:hover {
    border-bottom: 4px solid $hover;
  }
}

//navbar scss style
@import "@/styles/_navbar.scss";

ul {
  list-style: none;
  padding: 0;
}
// components scss styles
@import "@/styles/components-style/_cat-mission.scss";
@import "@/styles/components-style/_helper-detail.scss";
@import "@/styles/components-style/job.scss";
@import "@/styles/components-style/_footer.scss";
@import "@/styles/components-style/_member-helper.scss";
@import "@/styles/components-style/_role-selection.scss";
@import "@/styles/components-style/_latest-mission.scss";
@import "@/styles/_find-mission.scss";
@import "@/styles/components-style/_product-card.scss";
@import "@/styles/components-style/_login.scss";
@import "@/styles/components-style/_userform.scss";