%helper-button-style {
  font-size: 1.6rem;
  // font-weight: bold;
  width: 180px;
  height: 55px;
  svg {
    font-size: 28px;
    margin-right: 0.2rem;
    // height: 40px;
  }
}

$detail-block-width: 12px; //標題左側直槓槓
.helper-detail {
  max-width: 1400px;
  margin: auto;
  header,
  section {
    width: calc(100% - 80px);
    background-color: $content-bg;
    margin: 1rem auto;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .avatar {
    $size: 220px;
    background-color: $light-gray;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-right: 2rem;
  }
  .profile {
    width: 70%;
    text-align: justify;
    img {
      width: 28px;
      height: 28px;
      margin-right: 0.1rem;
    }
    .intro {
      color: $text-mark;
      font-weight: 500;
    }
    .btn-message {
      @extend %helper-button-style;
    }
  }
  .item {
    width: calc(100% - 100px);
    margin: 4rem auto;
    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      &::before {
        content: "";
        display: inline-block;
        background-color: $hover;
        width: $detail-block-width;
        height: 40px;
        margin-right: 0.3rem;
      }
    }
    &-content {
      margin-left: $detail-block-width + 5px;
      color: $text-dark;
      font-weight: 500;
      text-align: justify;
    }
  }
  .item-image {
    margin-top: 1rem;

    swiper-slide {
      width: 300px;
    }
  }

  .review-card-group {
    .review-card {
      cursor: grab;
      $avatar-width: 70px;
      background-color: $light-gray;
      padding: 15px 25px;
      margin: 20px 20px 40px 20px;
      width: 350px;
      border-radius: 2px;
      &-avatar {
        width: $avatar-width;
        height: $avatar-width;
        background-color: $price;
        border-radius: 50%;
      }
      &-info {
        width: calc(100% - $avatar-width);
        height: $avatar-width;
        img {
          width: 20px;
        }
        .username,
        .date {
          color: $text-mark;
        }
      }
      &-body {
        text-align: justify;
      }
    }
    .swiper-slide {
      width: 350px;
    }
    .swiper-scrollbar {
      height: 15px;
      border-radius: 2px;
      &-drag {
        border-radius: 2px;
      }
    }
  }
  .evaluation-bar {
    $block-width: calc(100% - 3px);
    width: calc(100% - 80px);
    display: flex;
    height: auto;
    margin: 2rem auto;
    &-left {
      width: calc($block-width * 0.5);

      .ranking img {
        width: 40px;
        height: 40px;
      }
    }
    &-divider {
      width: 3px;
      height: 250px;
      background-color: $text-mark;
    }
    &-right {
      width: calc($block-width * 0.5);

      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .bar-group {
        display: flex;
        // justify-content: center;
        align-items: center;
        // margin-left: 4rem;
      }
      .percentage {
        width: 260px;
        height: 10px;
        display: flex;
        margin-left: 0.8rem;
        --width: 5%; //評論總數的百分比
        .have {
          width: var(--width);
          background-color: $hover;
          border-radius: 0 2px 2px 0;
        }
        .no-have {
          width: calc(100% - var(--width));
          background-color: $light-gray;
          border-radius: 0 2px 2px 0;
        }
      }
    }
    @media screen and (max-width: 900px) and (min-width: 768px) {
      .evaluation-bar-left {
        width: calc($block-width * 0.4);
      }

      .evaluation-bar-right {
        width: calc($block-width * 0.6);
      }
    }
  }
}
.get-price {
  height: 80px;
  background-color: $main-bg;
  position: sticky;
  bottom: 0;
  z-index: 100;
  // overflow-x: hidden;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);
  &-number {
    color: $price;
  }
  &-btn {
    @extend %helper-button-style;
  }
}
@media screen and (max-width: 768px) {
  .helper-detail {
    .evaluation-bar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .evaluation-bar-left {
      width: 100%;
    }
    .evaluation-bar-right {
      width: 100%;
    }
    .evaluation-bar-divider {
      display: none;
    }
  }
}
@media screen and (max-width: 576px) {
  $detail-block-width: 8px;
  .helper-detail {
    header,
    section {
      background-color: transparent;
      padding: 0;
      width: calc(100% - 10px);
    }

    .avatar {
      $size: 200px;
      width: $size;
      height: $size;
      margin-right: 0;
    }
    .profile {
      width: 100%;
      .username {
        order: -1;
        // display: inline-block;
      }
      // img {
      //   width: 28px;
      //   height: 28px;
      //   // margin-right: 0.1rem;
      // }
      .intro {
        margin: 0 0 1rem 0;
      }
      .review {
        order: -1;
        // display: inline-block;
      }
      .btn-message {
        font-size: 1.4rem;
        width: 160px;
        height: 50px;
      }
    }
    .item {
      width: 100%;
      &-title {
        &::before {
          width: $detail-block-width;
          height: 33px;
        }
      }
      &-content {
        margin-right: $detail-block-width;
      }
    }
    .review-card-group {
      .review-card {
        $avatar-width: 60px;
        padding: 8px 15px;
        width: 300px;
        &-avatar {
          width: $avatar-width;
          height: $avatar-width;
        }
        &-info {
          width: calc(100% - $avatar-width);
          height: $avatar-width;
          img {
            width: 18px;
          }
        }
      }
      .swiper-slide {
        width: 300px;
      }
    }
    .evaluation-bar {
      width: calc(100% - 10px);
      &-left {
        .ranking img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  .get-price {
    height: 60px;
    &-btn {
      font-size: 1.2rem;
      width: 135px;
      height: 42px;
    }
  }
}
