.job-search {
  width: 40%;
  max-width: 350px;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  input {
    width: calc(100% - 50px);
    padding-left: 1rem;
    border-radius: 20px 0 0 20px;
    border: 1px solid $hover;
    border-right: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $hover;
    }
  }
  button {
    width: 50px;
    border: 1px solid $hover;
    border-radius: 20px;
    background-color: $main-bg;
    position: relative;
    right: 11.5px;
    .job-search-icon {
      font-size: 22px;
      color: $hover;
    }
  }
}
.ripple {
  animation: ripple 0.4s ease-out;
  pointer-events: none;
}
@keyframes ripple {
  to {
    transform: scale(1.1);
    box-shadow: 0 0px 10px lighten($hover, 13%);
  }
}

.drop-down {
  margin: 2rem;
  $drop-down-width: 130px;
  width: $drop-down-width;
  &-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cos-white;
    border: none;
    padding: 0;
    border-radius: 2px;
    color: $text-main;
    &-icon {
      background-color: $header-bg;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 22px;
        height: 22px;
      }
    }

    .icon {
      margin-right: 1rem;
    }
  }
  &-menu {
    background-color: $cos-white;
    width: $drop-down-width;
    box-shadow: 0 0 5px white;
    position: absolute;
    z-index: 100;

    li {
      padding: 0.1rem 0;
      margin: 0.1rem 0;
      text-align: center;
      color: $text-main;
      &:hover {
        background-color: $header-bg;
        cursor: pointer;
      }
    }
  }
}
.drop-down-active {
  background-color: $light-gray;
  color: $hover;
}
