@import "@/styles/variable";

.listuserm{
        
    img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
} 
h6{
    color: $text-main;
  }
  p{
    color: $price;
    border:1px solid
  }
  .level{
    color: $price;
    border:1px solid;
    background:$main-bg;
    
  }
}

