@import "@/styles/variable";

.list-d{
  .user{
    background:$content-bg ; 
  }
  img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .level{
    color: $price;
    border:1px solid;
    background:$main-bg;
    
  }
  ul{
    padding: 0;
    list-style: none;
    a{
    background: #ffffff;
    text-decoration: none;
    color: $text-main;
    display: block;
    text-align: center;
    padding: 15px;
    }
    h6{
    border-bottom: 1px dashed;
    text-align: center;
    background: $content-bg;
    color: $text-main;
    padding: 15px;
    font-weight: 600;
    color: $text-main;
    margin: 0;
    }

  }
}


