@import "@/styles/variable";

.listuserm{
        
    img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
} 
h6{
    color: $text-main;
  }
  p{
    color: $price;
    border:1px solid
  }
}

