@import "@/styles/variable";

.list-d{
  // min-width: 280px;
  .user{
    background:$content-bg ; 
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

  @media screen and (max-width: 780px) {
    width: 80px;
    height: 80px;
}
  }
  
  .level{
    color: $price;
    border:1px solid;
    background:$main-bg;
    
  }
  ul{
    padding: 0;
    list-style: none;
    a{
    background: #ffffff;
    text-decoration: none;
    color: $text-main;
    display: block;
    text-align: center;
    padding: 15px;
    }
    h6{
    border-bottom: 1px dashed;
    text-align: center;
    background: $content-bg;
    color: $text-main;
    padding: 15px;
    font-weight: 600;
    color: $text-main;
    margin: 0;
    }

  }
}


