@import "@/styles/variable";
.order{
    background: $content-bg;
    color:$text-main;
    @media screen and (max-width: 768px) {
        background: $main-bg;
    }
    .date{

            background:  #fbf5ef;;

    }
    .nav-link{
        color:$text-main;

    }
    .price{
        font-weight: 600;
    }
    img{
        width: 150px;
        height: 150px;
        
    }
    .listbutton{
        border: 0px;
        background: transparent;
    }

    button.pressed{
        border-bottom: 5px solid $hover;
    }
    .title{
        background: $star;
    }
}