@import "@/styles/variable";
.order-detail {
  background: $content-bg;
  color:$text-main;
  @media screen and (max-width: 768px) {
    background: $main-bg;
  }
  .date {

      background: #fff;

  }
  .textcolor {
    color: $text-mark;
  }
  .textareasize {
    height: 160px;
  }

    img {
      width: 150px;
      height: 150px;
      @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;

    }
  }
  button.pressed{
    display: none;
  }

  .on {
    color: gold;
  }
  
  .off {
    color: gray;
  }
  
  .good-style{
    color:red;
  }
  
  .star-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
