@import "@/styles/variable";
.history{
    background: $content-bg;
    color:$text-main;
    @media screen and (max-width: 768px) {
        background: $main-bg;
    }
    .title{
        font-weight: 600;
    }
    .content{
        color:black;
    }

    .follow{
        color:$price;
    }

    .listbutton{
        border: 0px;
        background: transparent;
    }

    button.pressed{
        border-bottom: 5px solid $hover;
    }


}