.mission-helper-list {
  max-width: 1440px;
  padding: 0 20px;
  margin: auto;
  .filters {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    justify-content: space-around;
  }
  .famous-helper {
    width: 40%;
    min-width: 355px;
    background-color: $content-bg;
    padding: 15px;
    &-title {
      font-weight: bold;
      margin-bottom: 2rem;
    }
    &-card {
      $img-size: 120px;
      margin-bottom: 3rem;
      min-width: 325px;
      &-img {
        width: $img-size;
        height: $img-size;
        border-radius: 50%;
      }
      .helper-content {
        width: calc(100% - $img-size);
        .title {
          font-weight: bold;
        }
        &-info p {
          margin: 0 0 0.5rem 0;
        }
        &-info span {
          color: $price;
        }
        &-info img {
          cursor: pointer;
        }
        .price {
          span {
            color: $price;
            font-weight: 600;
          }
          button {
            padding: 3px 10px;
          }
        }
      }
    }
    // &-mobile {
    //   display: none;
    // }
  }
  .helper-list {
    width: calc(100% - 40% - 20px);
    justify-content: flex-end;
  }
  .single-card {
    margin: 0 10px 20px 0;
    min-width: 230px;
    background-color: $cos-white;
    padding: 1rem;
    &-img {
      $img-size: 160px;
      width: $img-size;
      height: $img-size;
      border-radius: 50%;
    }
    &-title {
      font-weight: bold;
      margin: 0.5rem 0;
    }

    &-info p {
      margin: 0.2rem 0;
    }
    .price {
      margin-top: 1rem;
      span {
        color: $price;
        font-weight: 600;
      }
      button {
        padding: 3px 10px;
      }
    }
  }
  .famous-carousel {
    background-color: $content-bg;
    & > :first-child,
    & > :last-child {
      display: flex;
      align-items: center;
      svg {
        color: $text-main;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.mobile-filter {
  margin: 1.2rem 0;
  // height: 100px;
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-right: 30px;
    }
    & .swiper-slide:last-child {
      margin-right: 10px;
    }
  }
  .swiper-slide {
    width: 130px;
  }
}

@media screen and (max-width: 768px) {
  .mission-helper-list {
    padding: 0 5px;
    .job-search {
      width: 100%;
    }
    .famous-helper {
      width: 100%;
      margin: auto;
      padding: 15px 0;
      &-title {
        margin-left: 15px;
      }
      &-card {
        padding: 0 10px;
        $img-size: 100px;
        &-img {
          width: $img-size;
          height: $img-size;
        }
      }
    }
    .famous-carousel {
      & > :first-child,
      & > :last-child {
        svg {
          font-size: 22px;
        }
      }
    }
  }
}
