// @import "@/styles/_variable.scss";

.mission-list-card{
    width: 260px;
    .mission-img{
        img{
            width: 260px;
            height: 260px;
            object-fit: cover;
        }
    }
    .mission-content{
        img{
            cursor: pointer;
            width: 45px;
        }
        .price{
            span{
                color: #D30000;
                font-weight: 600;
            }
            button{
                padding: 3px 10px;
                color: $main-bg;
            }
        }
    }
}