.css-6hp17o-MuiList-root-MuiMenu-list{
    background: $header-bg;
 }
 .css-1l132qa{
    justify-content: center;
 } 
 //desktop-menu-list
 .css-1su4uvr-MuiTypography-root{
 font-weight: 700;
 color: $text-main;
 }
 // mobile-370px burger-menu
 .css-1qqqlaa-MuiButtonBase-root-MuiMenuItem-root{
    justify-content: center;
 }
 // mobile-370px McatLogo
 .css-24qsvz-MuiButtonBase-root-MuiButton-root{
 margin: auto;
 }