.reset-password{
     min-height: 700px;
    width: 60%;
    margin: 0 auto 0; //到時候要去掉
    background-color: $content-bg;
    $form-height: 80px;
    padding: 10px 40px;
    position: relative;
    .title {
        margin-bottom: 40px;
        & > p {
          font-weight: bold;
          display: flex;
          align-items: center;
          img {
            margin-right: 0.8rem;
            height: 28px;
          }
        }
      }
}
.reset-group{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    > label{
        color: $text-main;
        width: 20%;
        float: left;
        padding-right: 10px;
    }
    > input{
        width: 50%;
    }
}