
.user-profile {
  // min-height: 913px;
  //width: 100%;
  //margin: 0 auto 0; 
  background-color: $content-bg;
  $form-height: 80px;
  padding: 0 auto;
  position: relative;
  .title {
    margin: 50px 150px; //手機要調整
    & > p {
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        margin-right: 0.8rem;
        height: 28px;
      }
    }
  }
  }
  .user-form{
    .fs-btn{
      width: 100%;
    }
    
   // margin: 0 50px;
  .user-btn-group{
margin: 4.5rem 0;
    }
   .ws20{
    width: 100%;
    overflow: auto;
 
    .fs3{
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(15% - 10px);
    }
    .fs11{
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(55% - 10px);
    }
    .ws6{
      float: left;
      width: 80%;

      .fs5{
        float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(35% - 14px);
      }

    }
 
   }
   .fs5{
    float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(35% - 14px);
  }
   .address-w20{
    width: calc(70% - 5px);
    padding-bottom: 45px; //行距

    .address-11{
      width: 78%;
      float: right;
    }
   }

  }

  .gender-radio{
    input[type="radio"] {
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 50%;
      transform: translateY(-0.075em);
    }
    input[type="radio"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #ff80ff;
    }
    
    input[type="radio"]:checked::before {
      transform: scale(1);
    }

  }



  @media  (max-width: 768px) {
    .p-wrapper{
      //max-width: 1400px;
      display: grid;
      grid-template-columns: 1fr ;
    
    }
    .user-profile {
      // min-height: 913px;
      width: 100%;
      background-color: $main-bg;
      padding: 0px 5px;
     
      }
      .user-form{
        &-item{
          > label{
            width: 40%;
            float: left;
            padding-right: 10px;
          }
          > div{
            width: 60%;
            float: right;
            >.form-input{
              width: 100%;
            }
          }
        }
    
      }
  }