.p-wrapper{
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-gap: 1rem;
}

.user-profile {
  // min-height: 913px;
  width: 60%;
  // margin: 0 auto 0; 
  background-color: $content-bg;
  $form-height: 80px;
  padding: 10px 40px;
  position: relative;
  .title {
    margin-bottom: 40px;
    & > p {
      font-weight: bold;
      display: flex;
      align-items: center;
      img {
        margin-right: 0.8rem;
        height: 28px;
      }
    }
  }
  }
  .user-form{
   .ws20{
    width: 100%;
    overflow: auto;
    .fs3{
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(15% - 10px);
    }
    .fs11{
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(55% - 10px);
    }
   }

  }

  @media  (max-width: 768px) {
    .user-profile {
      // min-height: 913px;
      width: 100%;
      background-color: $main-bg;
      padding: 0px 5px;
     
      }
      .user-form{
        &-item{
          > label{
            width: 40%;
            float: left;
            padding-right: 10px;
          }
          > div{
            width: 60%;
            float: right;
            >.form-input{
              width: 100%;
            }
          }
        }
    
      }
  }