.block-five{
    background-color: #EEDDCC;
    // .rounded{
    //     border-top-left-radius: 10px;
    //     border-radius: 10px 20px 30px 40px;
    // }
    .title{
        color: #34251F;
        font-weight: bold;
    }
    .price{
        color: $price;
        font-weight: bold;
        .content{
            color: #34251F;
        }
    }
}