.block-three{
    background-color: #EEDDCC;
    .title{
        color: #34251F;
        font-weight: bold;
    }
    .price{
        color: $price;
        font-weight: bold;
        .content{
            color: #34251F;
        }
    }
}